*::-webkit-scrollbar {
    background-color: rgb(12, 12, 12);
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(35, 35, 35);
}

html, body {
    background: #080808;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
