*::-webkit-scrollbar {
  background-color: rgb(12, 12, 12);
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(35, 35, 35);
}

html, body {
  background: #16141B;
  font-family: 'JetBrains Mono', sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
